/*
Theme Name: White Elegance
Author: Studio Element
Author URI: http://studio-element.com/
Template: adrenalin
Version: 0.4.27
Description: Custom theme for White Elegance.
GitHub Theme URI: burbankb/whiteelegance
*/

p.demo_store {
    z-index: 9999;
}

.home #cg-page-wrap.site {
    margin-top: 0 !important;
}

.mean-container .mean-bar {
    z-index: 99999 !important;
}

.vc_row.wpb_row { 
    position: relative;
    max-width: 1170px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.el-menu-wrapper {
    position: absolute;
    top: -52px;
    right: 60px;
}

.el-search-button {
    float: left;
    padding: 10px 8px;
}

.cg-main-menu {
    float: left !important;
    width: initial !important;
}

.cg-primary-menu .menu > li > a {
    font-size: 90% !important;
}

.cg-primary-menu .menu > li .cg-submenu-ddown .container > ul .menu-item-has-children .cg-submenu {
    left: auto !important;
    right: 219px !important;
}

@media (min-width: 768px) {
    ul.tiny-cart {
        position: absolute !important;
        right: 15px;
        top: -60px;
    }
    .el-menu-wrapper {
        position: absolute;
        top: -55px;
        right: 130px;
    }
}

.el-search-button {
    float: left;
}


.cg-header-fixed .menu > li.menu-item > a:after, .cg-primary-menu .menu > li.menu-item > a:after {
    content: "/" !important;
    font-size: inherit !important;
    font-family: 'fontawesome';
    margin-left: 12px !important;
    opacity: 1 !important;
    position: relative !important;
    top: 0 !important;
    font-weight: 400 !important;
}

.cg-header-fixed .menu > li.menu-item:last-child > a:after, .cg-primary-menu .menu > li.menu-item:last-child > a:after {
    content: none !important;
}

.cg-header-fixed .menu > li, .cg-primary-menu .menu > li {
    padding: 0 4px !important;
}

.element-hr-heading {
    position: relative;
    margin-bottom: 0 !important;
}

.element-hr-heading:before, .element-hr-heading:after  {
    content: "";
    display: inline-block;
    width: 36%;
    border-bottom: 1px #E5E5E5 solid;
    margin: 6px 0;
}

.element-hr-heading:before  {
    margin-right: 11px;
}

.element-hr-heading:after  {
    margin-left: 11px;
}

.el-product-wrapper {
    padding:0 100px;
    margin-bottom: 0 !important;
}

.el-product-wrapper:before, .el-product-wrapper:after {
    content: "";
    background-image: url(img/product-slider-ribbon.png);
    width: 100px !important;
    height: 340px !important;
    display: block !important;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top:35px;
}

.el-product-wrapper:before{
    left:0;
}

.el-product-wrapper:after {
    right:0;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

@media (max-width: 530px) {
    .element-hr-heading:before, .element-hr-heading:after {
        width: 15%;
    }

    .el-product-wrapper {
        padding: 0 15px;
    }

    .el-product-wrapper:before, .el-product-wrapper:after {
        display: none !important;
    }
}


/* style overrides for resposive header */

@media (min-width: 768px) {
    .cg-logo-inner-cart-wrap {
        border-bottom: 1px solid #eee !important;
    }
    .cg-menu-below {
        border: none !important;
        margin-bottom: 1px !important;
    }
}

/* Footer widget styles*/
footer {
    font-size: 14px;
}
.el-footer-address {
    font-weight:100;
}

.el-footer-social {
    font-weight:100;
}

.el-widget-quicklinks {
    text-transform: uppercase;
}

.el-widget-quicklinks li{
    list-style: none;
    border: none !important;
    line-height: 162% !important;
}

.el-widget-quicklinks li a{
    font-weight:100 !important;
    font-size: 14px !important;
    padding-top: 0 !important;
}

.el-footer-about {
    font-weight:100 !important;
    font-size: 14px !important;
    padding-top: 0 !important;
}

footer .widget-title {
    font-weight: bold !important;
    font-size: 14px !important;
    margin-bottom: 0 !important;
}

/* Breadcumbs and things */
.breadcrumb-wrapper {
    background: transparent !important;
    padding: 0 !important;
}

.breadcrumb-wrapper p#breadcrumbs, .breadcrumb-wrapper p#breadcrumbs a{
    color: #B0B0B0 !important;
}

#cg-page-wrap .product-title-wrapper, #cg-page-wrap .header-wrapper {
    background-color: white !important;
    padding-top: 0 !important;
}

#cg-page-wrap .product-title-wrapper .container:before, #cg-page-wrap .header-wrapper .container:before {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    border-bottom: 1px #eee solid; 
}

.next-product:before, .prev-product:before {
    color: black !important;
    border: none !important;
}

#cg-page-wrap .product-title-wrapper .product-page-title h1.page-title, #cg-page-wrap .product-title-wrapper .cg-back-to-prev a, #cg-page-wrap .header-wrapper .entry-header h1.cg-page-title{
    color: #B0B0B0 !important;
    font-weight: 100 !important;
    text-transform: none !important;
}

/* Product Pages */
.cg-product-detail .single-product-details .product_title {
    font-weight: 100 !important;
    color: #B0B0B0 !important;
    text-transform: none !important;
}

.summary h1.product_title a {
    font-weight: 100 !important;
    color: #A0A0A0 !important;
    text-transform: none !important;
}

@media (min-width: 768px) {
    .cg-product-detail .single-product-details .product_title {font-size: 310% !important;}
}

.woocommerce .container button.button.single_add_to_cart_button, .cg-quickview-product-pop .single-product-details button.button.single_add_to_cart_button {
    text-transform: capitalize !important;
    font-size: 95% !important;
    font-weight: bold !important;
    background-color: #4E5CA3 !important;
}

.variations_form { 
    border-top: none !important;
}

.variations_form table.variations {
    margin-bottom: 0 !important;
}

.variations_form .variations td.label label {
    color: #7e7e7e !important;
    margin-bottom: 0 !important;
}

.variations_form .variations td.value {
    display: block;
}

.quantity.buttons_added{
    display: block !important;
    margin-bottom: 5px;
}
.quantity.buttons_added:before {
    content: "QTY";
    color: #7e7e7e;
    display: block;
    float: left;
    font-size: 110%;
    padding: 13px 20px 9px 0;
}
.cart_item .quantity.buttons_added:before {
    content: none;
}

.quantity .qty {
    color: black !important;
    border: none !important;
    background-color: transparent !important;
}
.quantity .qty:focus {
    border: 1px #aaa solid !important;
}
.woocommerce .cart .quantity .minus, .woocommerce .cart .quantity .plus {
    display: inline-block !important;
    border-color: #4E5CA3;
    color: #4E5CA3;
    width: 15px !important;
    height: 15px !important;
    border-radius: 99px;
    line-height: 0 !important;
    font-size: 90% !important;
    padding-bottom: 1px;
    padding-left: .5px;
}

section.slider .star-rating span, .woocommerce .container .star-rating span, .woocommerce-page .container .star-rating span, .home .star-rating span {
    color: #4E5CA3 !important;
    background-image: url(img/star-on-retina.png);
}

a.woocommerce-review-link {
    color: #4E5CA3 !important;
}

.woocommerce-tabs ul.tabs {
    border-top: none;
}

@media (min-width: 769px) {
    .woocommerce-tabs ul.tabs {height: 35px;}
}

.woocommerce-tabs ul.tabs li a {
    text-transform: none !important;
    color: #4E5CA3 !important;
    padding: 1px 0 !important;
    margin-right: 60px !important;
    line-height: 30px !important;
    font-size: 95% !important;
}

.woocommerce .cg-product-detail .woocommerce-tabs ul.tabs li.active a {
    background: white !important;
    color: black !important;
}

.tipr_point_top:after, .woocommerce .woocommerce-tabs ul.tabs li.active a:after {
    border-top-color: #b0b0b0 !important;
    bottom: -11px !important;
}

.related.products {
    border: none !important;
}

.related h2 {
    color: #B0B0B0 !important;
    border-bottom: 1px solid #eee;
}

.cg-product-img {
    border: none !important;
}
.price {
    margin: 13px 0 !important;
}
.price .amount {
    font-weight: 100;
    font-size: 120%
}

ul.page-numbers li span.current{
    background-color: #4E5CA3 !important;
}

ul.page-numbers li a.page-numbers:hover, .woocommerce-cart .woocommerce input.button.checkout-button {
    background-color: #4E5CA3 !important;
    border-color: #4E5CA3 !important;
}

.cg-wc-messages .woocommerce-message {
    padding: 17px 120px 14px 23px;
}

body.woocommerce-cart .woocommerce-message a, .woocommerce-message a {
    top: initial !important;
}

body.woocommerce-cart .woocommerce-message a.button {
    top: 0 !important;
}

.cg-quick-view-wrap a.cg-quick-view {
    display: none;
    background-color: rgba(250, 250, 250, .9) !important;
    color: #000 !important;
}

.onsale-wrap {
    border-color: rgba(78, 92, 163, .7) !important; 
}
.onsale-wrap .onsale-inner {
    background-color: rgba(78, 92, 163, .95) !important;
}

.cg-product-cta {
    display: none;
}

.rpwwt-widget ul {
    display: block;
    overflow: hidden;
    margin-left: -15px !important;
    margin-right: -15px !important;
}

.rpwwt-widget li {
    border-bottom: none !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.rpwwt-widget .rpwwt-post-title {
    display: block;
    clear: both;
}

@media (min-width: 992px) {
    .recent-posts-widget-with-thumbnails {
        width: 50% !important;
    }
    .rpwwt-widget li {
        width: 50%;
        float: left;
    }
}

.ls-nav-prev:after, .ls-nav-next:after {
    color: #a6a6aF !important;
}

a.ls-nav-prev:after {
    left: -25px !important;
}

a.ls-nav-next:after {
    left: 25px !important;
}

.el-header-phone-number {
    position:absolute;
    display: none;
    padding: 11px 0;
    right: 0;
    font-size: 95%;
    color: #b0b0b0;
}

@media (min-width: 1101px ){
    .el-header-phone-number {
        display: block;
    }
}

.cg-shopping-toolbar, .cg-shopping-toolbar div *{
    min-height: 0;
    padding: 0 !important;
    margin: 0 !important;
}

.el-hidden-search {
    padding: 11px 20%;
    margin: 0 !important;
}

@media (max-width: 768px) {
    .el-hidden-search {
        padding: 11px 0;
    }
}

.el-search-field {
    display: block;
    position: relative;
    border: 1px solid #b0b0b0; 
    padding-left: 20px;
    padding-right: 25px;
    border-radius: 3px;
    overflow: hidden;
}

.el-search-field:before {
    content: "ï€‚";
    font-family: "fontawesome";
    display: block;
    position: absolute;
    color: #bfbfbf;
    top: 50%;
    left: 7px;
    margin-top: -12px;
}

.el-search-field:after {
    content: "\f0a9";
    font-family: "fontawesome";
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -12px;
}

.search-field {
    border:none !important;
}
